//main layout for final project

@import '_variables.scss';
@import '_mixins.scss';

body {
    font-family: $sans;
    font-size: 18px;
    line-height: 1.6;
    color: $darkblue;
    background-color: $background;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serif;
    margin: .5em 0;
}

h1 {font-size: 2em;}
h2 {font-size: 1.75em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
h5 {font-size: .8em;}
h6 {font-size: .6em;}

p  {
    font-size: 1em;
    margin-bottom: 1.25em;
}

input[type="text"] {
    width: 90%;
}

header {
    text-align: center;
    margin: 1em;
}

.topSections {
    margin: 0 auto;
    width: 75%; 
    border-top: 1px solid $medblue;
}

form {
    border: 1px solid $darkblue;
    text-align: left;
    background-color: $medblue;
    color: $background;
    padding: 1em;
}

.formLabel {
    padding: .5em;
    display: inline-block;
    /*margin: .5em;*/
    color: $background;
}

.formInput {
    padding: .5em;
    color: $darkblue;
    max-width: 90%;
    
}

.formRadio {
    @extend .formInput;
    display: inline-block;
    margin-bottom: .5em;
}

.submitBtn {
    padding: .5em;
    margin: 1em;
    text-transform: uppercase;
    background-color: $darkblue;
    color: $background;
    border: 0;
    box-shadow: none;
    font-weight: 700;
    letter-spacing: 1px;
    
    &:hover {
        background-color: $medyellow;
        color: $darkblue;
    }
}

.errorMsg {
    color: red;
    font-weight: bold;
    text-align: center;
    padding: .5em;
}

.results {
    width: 90%;
    margin: 0 auto;
}

.calc {
    text-align: center;
    
    
    p {
        @include showoff;
    }
}

.entered {
    @include showoff;
    
    
    p {
        padding: 0;
    }
}

.schedule {
    width: 100%;
    margin: 0 1em;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    
    
    th, td {
        text-align: right;
        padding: .25em;
    }
    
    th {
        font-weight: bold;
        background-color: $lightyellow;
        color: $darkblue;
        
    }
    
}

footer {
    text-align: right;
    margin: 1em;
    border-top: 2px solid $darkblue;
}



/* Larger screens */  
        
@supports (display: grid) {

    @media screen and (min-width: 780px) {
        .topSections {
            display: grid;
            grid-template-columns: 45% 1fr; 
            grid-template-areas:   "instructions enteredHead"
                                   "form entered"
                                   "calc calc"
                                   "savings .";
        }

        .instructions {
            grid-area: instructions;
           
        }

        .enteredHead {
            grid-area: enteredHead;
        }

        .formInput {
            grid-area: form;
            margin-right: .5em;
            
        }

        .entered {
            grid-area: entered;
            margin-top: 2em;
        }
        
        .calc {
            grid-area: calc;
            padding: 1em;
            margin-left: .5em;
        }
        
        .savings {
            grid-area: savings;
            padding: 1em;
            margin-left: .5em;
        }
    } //end media query for 780px
    
    @media screen and (min-width: 1200px) {
        .topSections {
            grid-template-columns: 35% 1fr;
        }
    } // end media query for 1200px
}        
        
        
        



